JOBPOSTINGS_APP_ENV=development
JOBPOSTINGS_HOST=127.0.0.1
JOBPOSTINGS_PORT=17879
JOBPOSTINGS_DATA_DIR=%LOCALAPPDATA%\\JobPostings
JOBPOSTINGS_PUBLIC_BASE_URL=http://127.0.0.1:17879
JOBPOSTINGS_TRUSTED_PROXY_MODE=none
JOBPOSTINGS_DEV_SHOW_OTP=true

